# Intellij
.idea
*.iml

# Apple
.DS_Store

# Vim
*.swp
*.swo
*.tmp
tag
tags

# build and vendor
main
gin-bin
*.rpm
*.deb
build/*
dist
utils
**/build/*
*.log

# data directories
docker-data
data
_scratch

# TLS cache
.cache

# do not commit vendored files
vendor/*/

# jupyter notebooks
*.ipynb
.ipynb*

# Vegeta stress testing
results.bin

# coverage
report
*.coverprofile
coverage.out
coverage.txt

# harvested data
*_ids.txt
*_records.xml

# generated docs
public/api
public/tests
docs/ikuzo/raml/build

# scratch pad
_scratch
_bak
oneoff

# don't track node_modules
node_modules

# ignore default configuration
hub3.toml
