# Intellij
.idea
rapid.iml

# Apple
.DS_Store

# Vim
*.swp
*.swo
*.tmp

# build and vendor
rapid
gin-bin
*.rpm
*.deb
build/*
dist
utils

# TLS cache
.cache

# do not commit vendored files
vendor/*/

# do not commit files stored by npm
node_modules

# jupyter notebooks
*.ipynb
.ipynb*

# Vegeta stress testing
results.bin

# Data Storage
# Boltdb
rapid.db

# coverage
report
*.coverprofile

# harvested data
*_ids.txt
*_records.xml

# vuejs projects
diw

# generated docs
public/api
