// Special ***********************************************************

.dhcl {
  background-color: red;
  color: white;

  &.active {
    background-color: blue;
  }
}

.continued {
  &::before {
    display: none !important;
  }

  &::after {
    display: none !important;
  }

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// Content ************************************************************
.tree .c::before {
  content: "└";
}

.nav-tree .c::before {
  content: "+";
  border: 2px solid blue;
}

.nav-tree .c.open::before {
  content: "-";
}

.text + .text::before {
  content: " "
}

// Display ***********************************************************
.unitid[type="handle"],
.unitid[type="blank"],
.controlaccess,
.nav-tree .c > .c {
  display: none;
}

.c,
.p,
.materialspec,
.physloc,
.nav-tree .c.open > .c {
  display: block;
}

// Font *************************************************************

// COLORS //
.physdesc {
  color: #308304;
}

.nav-tree .c::before,
.unitdate {
  color: #09c;
}

.c[level="file"] {
  .unitid {
    color: red;
  }
}

// WEIGHT //
.unitid,
.tree .unittitle,
.tree .unitdate,
.tree .physdesc,
.nav-tree .c {
  font-weight: bold;
}

// Spacing ************************************************************
.c {
  padding-top: 10px;
  margin-left: 20px;
}

// Lists *************************************************************
.list {
  padding-left: 20px;

  .item {
    list-style-type: circle;
    display: list-item;
    padding-top: 5px;
  }
}

.desc-panel .archdesc {




  .did, .descgrp {
    & > .head {
      font-size: 140%;
      color: blue;
    }
  }

  .list,
  .p,
  .inline-label,
  .head,
  .table,
  .tgroup,
  .tbody,
  .thead,
  .filedesc > * {
    margin-top: 10px;
    display: block;

    .titleproper::before {
      content: 'Titel';
    }

    .author::before {
      content: 'Auteur'
    }

    .edition::before {
      content: 'Versie'
    }
  }

  .publicationstmt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    &::before {
      flex: 100%;
      order: 1;
      content: 'Copyright';
    }

    .publisher {
      flex: 100%;
      order: 2;
    }

    .date {
      order: 3;
    }

    .p {
      margin: 0;
      order: 4;
    }
  }

  *::before {
    margin-top: 10px;
    display: block;
    font-weight: bold;
  }

  .inline-label, .head {
    font-weight: bold;
  }

  .table {
    overflow-y: auto;
  }

  .thead .entry {
    position: sticky;
    top: 0;
  }

  .tbody {
    display: table;
    width: 100%;
  }

  .row {
    display: table-row;
    border: 5px solid black;
  }

  .entry {
    display: table-cell;
  }
}