.dhcl {
  background-color: red;
  color: white;
}

.dhcl.active {
  background-color: blue;
}

.continued::before {
    display: none !important;
  }

.continued::after {
    display: none !important;
  }

.continued {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.c[level="file"] .unittitle::before {
  content: "Titel";
  font-weight: bold;
  display: block;
}

.unitid {
  font-weight: bold;
  color: red;
  font-size: larger;
}

.c[level="file"] li > section {
  border-top: 0.2rem solid rgb(239, 239, 239);
}

.c[level="file"] .unitid {
  display: inline-block;
  color: black;
  font-size: initial;
  width: 100%;
  background-color: rgb(239, 239, 239);
}

time::before {
  content: "Date";
  font-weight: bold;
  display: block;
}

.physdesc::before {
  content: "Fysieke kenmerken";
  font-weight: bold;
  display: block;
}

.materialspec::before {
  content: "Omschrijving materiaal";
  font-weight: bold;
  display: block;
}

address::before {
  content: "Locatie";
  font-weight: bold;
  display: block;
}

.scopecontent::before {
  content: "Extra info";
  font-weight: bold;
  display: block;
}

.persname::before,
ul[level="file"] .unitid::before {
  content: "";
  display: inline-block;
  vertical-align: -.125em;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.controlaccess {
  display: none;
}

.persname::before {
  background-image: url('/bootstrap-icons/icons/person.svg');
}

ul[level="file"] .unitid::before {
  background-image: url('/bootstrap-icons/icons/archive-fill.svg');
}

/*//*/
/*//// Content *************************************************************/
/*//.tree .c::before {*/
/*//  content: "└";*/
/*//}*/
/*//*/
/*//.nav-tree .c::before {*/
/*//  content: "+";*/
/*//  border: 2px solid blue;*/
/*//}*/
/*//*/
/*//.nav-tree .c.open::before {*/
/*//  content: "-";*/
/*//}*/
/*//*/
/*.text + .text {*/
/*  padding-left: 0.5em;*/
/*}*/
/*//*/
/*//// Display ************************************************************/
/*//.unitid[type="handle"],*/
/*//.unitid[type="blank"],*/
/*//.controlaccess,*/
/*//.nav-tree .c > .c {*/
/*//  display: none;*/
/*//}*/
/*//*/
/*//.c,*/
/*//.p,*/
/*//.materialspec,*/
/*//.physloc,*/
/*//.nav-tree .c.open > .c {*/
/*//  display: block;*/
/*//}*/
/*//*/
/*//// Font **************************************************************/
/*//*/
/*//// COLORS //*/
/*//.physdesc {*/
/*//  color: #308304;*/
/*//}*/
/*//*/
/*//.nav-tree .c::before,*/
/*//.unitdate {*/
/*//  color: #09c;*/
/*//}*/
/*//*/
/*//.c[level="file"] {*/
/*//  .unitid {*/
/*//    color: red;*/
/*//  }*/
/*//}*/
/*//*/
/*//// WEIGHT //*/
/*//.unitid,*/
/*//.tree .unittitle,*/
/*//.tree .unitdate,*/
/*//.tree .physdesc,*/
/*//.nav-tree .c {*/
/*//  font-weight: bold;*/
/*//}*/
/*//*/
/*//// Spacing *************************************************************/
/*//.c {*/
/*//  padding-top: 10px;*/
/*//  margin-left: 20px;*/
/*//}*/
/*//*/
/*//// Lists **************************************************************/
/*//.list {*/
/*//  padding-left: 20px;*/
/*//*/
/*//  .item {*/
/*//    list-style-type: circle;*/
/*//    display: list-item;*/
/*//    padding-top: 5px;*/
/*//  }*/
/*//}*/
/*//*/
/*//.desc-panel .archdesc {*/
/*//*/
/*//*/
/*//*/
/*//*/
/*//  .did, .descgrp {*/
/*//    & > .head {*/
/*//      font-size: 140%;*/
/*//      color: blue;*/
/*//    }*/
/*//  }*/
/*//*/
/*//  .list,*/
/*//  .p,*/
/*//  .inline-label,*/
/*//  .head,*/
/*//  .table,*/
/*//  .tgroup,*/
/*//  .tbody,*/
/*//  .thead,*/
/*//  .filedesc > * {*/
/*//    margin-top: 10px;*/
/*//    display: block;*/
/*//*/
/*//    .titleproper::before {*/
/*//      content: 'Titel';*/
/*//    }*/
/*//*/
/*//    .author::before {*/
/*//      content: 'Auteur'*/
/*//    }*/
/*//*/
/*//    .edition::before {*/
/*//      content: 'Versie'*/
/*//    }*/
/*//  }*/
/*//*/
/*//  .publicationstmt {*/
/*//    display: flex;*/
/*//    flex-direction: row;*/
/*//    flex-wrap: wrap;*/
/*//    gap: 5px;*/
/*//*/
/*//    &::before {*/
/*//      flex: 100%;*/
/*//      order: 1;*/
/*//      content: 'Copyright';*/
/*//    }*/
/*//*/
/*//    .publisher {*/
/*//      flex: 100%;*/
/*//      order: 2;*/
/*//    }*/
/*//*/
/*//    .date {*/
/*//      order: 3;*/
/*//    }*/
/*//*/
/*//    .p {*/
/*//      margin: 0;*/
/*//      order: 4;*/
/*//    }*/
/*//  }*/
/*//*/
/*//  *::before {*/
/*//    margin-top: 10px;*/
/*//    display: block;*/
/*//    font-weight: bold;*/
/*//  }*/
/*//*/
/*//  .inline-label, .head {*/
/*//    font-weight: bold;*/
/*//  }*/
/*//*/
/*//  .table {*/
/*//    overflow-y: auto;*/
/*//  }*/
/*//*/
/*//  .thead .entry {*/
/*//    position: sticky;*/
/*//    top: 0;*/
/*//  }*/
/*//*/
/*//  .tbody {*/
/*//    display: table;*/
/*//    width: 100%;*/
/*//  }*/
/*//*/
/*//  .row {*/
/*//    display: table-row;*/
/*//    border: 5px solid black;*/
/*//  }*/
/*//*/
/*//  .entry {*/
/*//    display: table-cell;*/
/*//  }*/
/*//}*/