.dhcl {
  background-color: red;
  color: white;

  &.active {
    background-color: blue;
  }
}

.tree {
  .c {
    display: block;

    * {
      display: block;
    }
  }

  .c {
    padding-top: 10px;
    margin-left: 20px;

    &[level="file"] {
      .unitid {
        display: none;
      }
    }

    .unitid::after {
      content: " "
    }

    .unitdate {
      &::before {
        content: " "
      }

      color: #09c;
    }

    .physdesc {
      &::before {
        content: " "
      }

      color: #308304;
    }

    .controlaccess {
      display: none;
    }

    .scopecontent .p * {
      &::after {
        content: " "
      }

      display: inline;
    }

    .unitid, .unittitle, .unitdate, .physdesc {
      display: inline;
      font-weight: bold;
    }
  }

  // navigation tree
  .nav-tree {
    .c {
      font-weight: bold;

      .c {
        display: none;
      }
    }

    .open {
      .c {
        display: block;
      }
    }

    .c {

      &::before {
        content: "+";
        font-weight: bold;
        font-size: 18px;
        font-family: monospace;
        border: 2px solid blue;
        background-color: white;
        margin-right: 4px;
        color: blue;
      }

      .text {
        display: inline;
      }
    }

    .c.open::before {
      content: "-";
    }
  }
}

.desc-panel .archdesc {
  * {
    display: inline;
  }

  .list {
    padding-left: 20px;

    .item {
      list-style-type: circle;
      display: list-item;
      padding-top: 5px;
    }
  }

  .did, .descgrp {
    & > .head {
      font-size: 140%;
      color: blue;
    }
  }

  .list,
  .p,
  .inline-label,
  .head,
  .table,
  .tgroup,
  .tbody,
  .thead,
  .filedesc > * {
    margin-top: 10px;
    display: block;

    .titleproper::before {
      content: 'Titel';
    }

    .author::before {
      content: 'Auteur'
    }

    .edition::before {
      content: 'Versie'
    }


  }

  .publicationstmt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    &::before {
      flex: 100%;
      order: 1;
      content: 'Copyright';
    }

    .publisher {
      flex: 100%;
      order: 2;
    }

    .date {
      order: 3;
    }

    .p {
      margin: 0;
      order: 4;
    }
  }

  *::before {
    margin-top: 10px;
    display: block;
    font-weight: bold;
  }

  .inline-label, .head {
    font-weight: bold;
  }

  .table {
    overflow-y: auto;
  }

  .thead .entry {
    position: sticky;
    top: 0;
  }

  .tbody {
    display: table;
    width: 100%;
  }

  .row {
    display: table-row;
    border: 5px solid black;
  }

  .entry {
    display: table-cell;
  }

  .continued {
    margin: 0 !important;
    padding: 0 !important;
  }
}