#description {
  .c {
    display: block;

    * {
      display: block;
    }
  }

  .c {
    padding-top: 10px;
    margin-left: 20px;

    &[level="file"] {
      .unitid {
        display: none;
      }
    }

    .unitid::after {
      content: " "
    }

    .unitdate {
      &::before {
        content: " "
      }
      color: #09c;
    }

    .physdesc {
      &::before {
        content: " "
      }
      color: #308304;
    }

    .controlaccess {
      display: none;
    }

    .scopecontent .p * {
      &::after {
        content: " "
      }
      display: inline;
    }

    .unitid, .unittitle, .unitdate, .physdesc {
      display: inline;
      font-weight: bold;
    }
  }

  // navigation tree
  .nav-tree {
    .c {
      font-weight: bold;
      .c {
        display: none;
      }
    }

    .open {
      .c {
        display: block;
      }
    }

    .c {

      &::before {
        content: "+";
        font-weight: bold;
        font-size: 18px;
        font-family: monospace;
        border: 2px solid blue;
        background-color: white;
        margin-right: 4px;
        color: blue;
      }

      .text {
        display: inline;
      }
    }

    .c.open::before {
      content: "-";
    }
  }

  .dhcl {
    background-color: red;
    color: white;
    &.active {
      background-color: blue;
    }
  }
}