$TEXT_COLOR: #707070;
$TEXT_COLOR_LABELS: #333333;
$TEXT_STRONG_COLOR: #000;

body {
  background-color: #e9e9e9;
  color: $TEXT_COLOR;
}

label {
  color: $TEXT_COLOR_LABELS;
}

a {
  color: $TEXT_COLOR;
  padding-bottom: 8px;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
}

a:active, a:hover {
  color: $TEXT_STRONG_COLOR;
}

.search, input {
  padding: 1em;
}

.facets {
  background-color: white;
  display: flex;
  gap: 1em;
}

.facet .options,
.facet .count {
  display: none;
}

.facet.open .options {
  display: block;
}

.facet .options {
  position: absolute;
  z-index: 1;
  padding: 1em;
  max-height: 400px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid $TEXT_COLOR;
}

.search {
  grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  grid-auto-rows: auto;
  background-color: rgb(255, 182, 18);
}

button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-collapse: separate;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  font-family: inherit;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  user-select: none;
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
  border-radius: 0px;
  position: relative;
  font-style: italic;
  letter-spacing: 1px;
  margin-right: -2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.content {
  display: grid;
}

.search-page {
  display: grid;
  grid-template-columns: 2em 1fr 1fr 1fr 1fr 1fr 1fr 2em;

  grid-template-areas:
      "search search search search search search search search"
      ". facets facets facets facets facets facets ."
      ". sort sort sort sort sort sort ."
      ". content content content content content content ."
      ". pager pager pager pager pager pager .";
}

.content {
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.metadata {

}

.is-open {
  display: block !important;
}


.visually-hidden {
  display: none;
}