* {
  box-sizing: border-box;
}

*:focus {
  border: 10px solid orange !important;
}

body, ul {
  padding: 0;
  margin: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

td {
  vertical-align: baseline;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}