[Unit]
Description=Delving RAPID Linked Open Data Platform 
;Documentation=https://github.com/delving/rapid
# ConditionPathExists=/opt/hub3/rapid
After=network.target

[Service]
Type=simple
#User=rapid
#Group=rapid
LimitNOFILE=55555
LimitMEMLOCK=infinity

Restart=on-failure
TimeoutStopSec=600
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/opt/hub3/rapid
ExecStart=/opt/hub3/rapid/rapid http

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/rapid
ExecStartPre=/bin/chown syslog:adm /var/log/rapid
ExecStartPre=/bin/chmod 755 /var/log/rapid
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rapid

[Install]
WantedBy=multi-user.target
